<h1>Lista de Posts</h1>

<%= link_to 'Novo Post!', new_micropost_path %><br><br>

<% (@microposts.reverse).each do |micropost| %>
  <div>
	<!-- <div class="post_tit"><%= link_to micropost.content, micropost %></div> -->
	<div class="post_tit"><%= micropost.content %></div>
	<div class="post_det">
		<span><%=link_to  User.find( micropost.user_id ).name,  User.find( micropost.user_id )%> |</span>
		<span><%= micropost.created_at %> |</span>
		<span><%= link_to 'Excluir', micropost, :confirm => 'Tem certeza que deseja excluir?', :method => :delete %></span>
	</div>
  </div>
<% end %>

<br />
